<div class="footer">
    <div class="footer__nom-compagnie">
        <div class="nom-compagnie__sema">Sema</div>
        <div class="nom-compagnie__couleurs">Couleurs</div>
        <div class="nom-compagnie__mission">Une entreprise d’ici qui se spécialise en peinture de portes et fenêtres fondée en 2020.</div>
    </div>
    <div class="footer__informations">
        <h5>Nous joindre</h5>
        <span class="icone icone--bordure">
            <p>487 Rang Brûlé,<br>Saint-Thomas, QC J0K 3L0</p>
        </span>
        <div class="informations__avec-icone">
            <span class="icone icone--bordure">
                <img src="./assets/icones/email.svg">
                <p>info@semacouleurs.com</p>
            </span>
            <span class="icone icone--bordure">
                <img src="./assets/icones/telephone.svg">
                <p>(450) 271-8595</p>
            </span>
        </div>
    </div>
</div>
